.card-image {
  height: 200px;
  width: 300px;
  border-radius: 10px;
}

.nav-link {
  color: orangered; 
  /* font-size: 1rem; */
  font-family: "Fredoka One";
  font-size: 25px;
  text-shadow: 2px 2px #FF0000;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: rgb(248, 248, 248);
  cursor: pointer;
}

.filter-container {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: white;
}

.cartoon-container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
  background-color: white;
  
}


.cartoon-card {
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #9999ff 1%, #0066ff 102%);
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 3px 3px black;
  transition: transform .2s;
}

.cartoon-card:hover{
  transform: scale(1.1);
}

.card-content{
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.like-button{
  border-radius: 10px;
  margin-bottom: 8px;

}

.app-container{
  background-color: white;
}

.detail-box {
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 85vh;
  /* width: 50vw; */
  width: 50%;
  background-color: rgb(250, 246, 250);
  border-radius: 50px;
  outline: black;
  border: solid;
  box-shadow: 5px 10px;
  
}

.detail-container{
  background: url("https://cdn.vox-cdn.com/thumbor/fPJRYcGWmkUrR89XCmT551_Iqnk=/0x0:1440x810/1400x1400/filters:focal(513x203:743x433):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/55801581/fairly_odd_parents.0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  
}

.outer-box {
  background-repeat: no-repeat;
  background-size: 100%;
}

.detail-clip {
  object-fit: cover;
  
}

.clip {
  object-fit: cover;
  /* width: 75%; */
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

.detail-title {
  color: black;
  font-family: "Fredoka One";
  font-size: 30px;
  /* text-shadow: 2px 2px #FF0000; */
}

.detail-episode {
  font-size: 30px;
}

.episode-box {
  margin-bottom: 1px;
  margin-top: 1px;
}

.aired-box {
  margin-bottom: 1px;
}

.detail-description {
  width: 60%;
}

.favorite-container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
}

.favorite-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  flex-direction: column;
  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px; */
  box-shadow: 3px 3px black;
  /* transition: transform .2s; */
}

.fav-description {
  width: 75%;
}

.search-bar {
    padding-top: 64px;
    align-items: center;
  }
  
  
.search-input {
      width: 30%;
      padding: 12px 24px;
      background-color: transparent;
      transition: transform 250ms ease-in-out;
      font-size: 14px;
      color: black;
      line-height: 18px;
      background-color: transparent;


      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: 95% center;
      border-radius: 50px;
      border: 1px solid #575756;
      transition: all 250ms ease-in-out;
      backface-visibility: hidden;
      transform-style: preserve-3d;
}
      
.search-input:placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
      
.search-input:hover{
          padding: 12px 0;
          outline: 0;
          border: 1px solid transparent;
          border-bottom: 1px solid #575756;
          border-radius: 0;
          background-position: 100% center;
}

.search-input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}



/* .credits {
  &__container {
      margin-top: 24px;
  }
  
  &__text {
      text-align: center;
      font-size: 13px;
      line-height: 18px;
  }
  
  &__link {
      color: #ff8b88;
      text-decoration: none;
      transition: color 250ms ease-in;
      
      &:hover,
      &:focus {
          color: color(#ff8b88 blackness(+25%));
      }
  }
} */