.card-image {
  height: 200px;
  width: 300px;
  border-radius: 10px;
}

.nav-link {
  color: orangered; 
  font-size: 1rem;
  font-family: "Fredoka One";
  font-size: 25px;
  text-shadow: 2px 2px #FF0000;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: rgb(248, 248, 248);
  cursor: pointer;
}

.filter-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.cartoon-container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}


.cartoon-card {
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #9999ff 1%, #0066ff 102%);
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 3px 3px black;
  transition: transform .2s;
}

.cartoon-card:hover{
  transform: scale(1.1);
}

.card-content{
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.like-button{
  border-radius: 10px;
  margin-bottom: 8px;

}

.app-container{
  /* background-image: linear-gradient(to bottom, #0066ff  1%, #9999ff 102%); */
  /* #9999ff */
  /* #0066ff  */
}

#root{
  background: linear-gradient(to top, #3399ff 0%, #ccccff 59%);
}

.detail-box {
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 85vh;
  width: 50vw;
  background-color: rgb(250, 246, 250);
  border-radius: 50px;
  outline: black;
  border: solid;
  box-shadow: 5px 10px;
  
}

.detail-container{
  background: url("https://cdn.vox-cdn.com/thumbor/fPJRYcGWmkUrR89XCmT551_Iqnk=/0x0:1440x810/1400x1400/filters:focal(513x203:743x433):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/55801581/fairly_odd_parents.0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  
}

.outer-box {
  background-repeat: no-repeat;
  background-size: 100%;
}

.detail-clip {
  object-fit: cover;
}