code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(83, 21, 197);
  /* background-color: rgb(0, 0, 0); */
  background-image: linear-gradient(to bottom, #9999ff 1%, #0066ff 102%);
}

header a,
header button {
  font-size: 1rem;
  display: inline-block;
  background-color: #130d00;
  border: 1px solid rgb(235, 13, 13);
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: rgb(248, 248, 248);
  cursor: pointer;
}


  /* Login  */
.login {
  position: absolute;
  display: block;
  background: url(http://30.media.tumblr.com/tumblr_lz6ddbkAO51r21tyjo1_500.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  
}


.login-form-box {
  position: relative;
  display: block;
  border: 5px solid rgba(53, 9, 212, 0.986);
  height: 30%;
  width: 30%;
  margin: 0 auto;
  top: 25%;
  text-align: center;
  color: rgb(219, 214, 218);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-family: 'Architects Daughter', cursive;
}

.login-form {
  display: flex;
  flex-direction: column;
  /* width: 400px; */
  margin: 0 auto;
  padding: 0 1rem 1rem;
  margin-top: 4px;
  font-family: 'Architects Daughter', cursive;
  font-size: larger;
}




/* Add Clip */

.new-form-page{
  position: absolute;
  display: block;
  background: url(https://i.pinimg.com/originals/43/3d/83/433d83f7e481f35245f8c6bb7c7591d8.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}


.new-form-box{
  position: relative;
  display: block;
  border: 5px solid rgba(191, 231, 12);
  height: 65%;
  width: 35%;
  margin: 0 auto;
  top: 25%;
  text-align: center;
  color: rgb(191, 231, 12);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-family: 'Architects Daughter', cursive;
}
.new-form{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  margin-top: 0px;
  font-family: 'Architects Daughter', cursive;
  font-size: larger;
}




